.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.polularBlog{
  font-size:xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin : 33px;
}

.popular{
  border: 2px solid rgba(212, 211, 211, 0.61);
  border-radius: 20px;
  padding: 1.2rem;
  background-color: rgba(122, 116, 116, 0.137);

}
.blogs{background-color: rgba(122, 116, 116, 0.452);
  
    border-radius: 20px;
    padding: 23px;
  margin-top: 30px;
  cursor: pointer;
}
.blogs:hover{
  background-color:  rgba(31, 26, 26, 0.452);
}
.blogitem{
  
  cursor: pointer;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title a {
  color: #bacadb;
  text-decoration: none;
  z-index: 2;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  position: fixed;
  font-weight: bolder;
  z-index: 3;
}

.title,
.description {
  text-align: center;
  position: relative;
  z-index: 2;
  
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}



.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}



.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    border-color: rgba(180, 176, 176, 0.37);
  }

}
.myImg{
  border-radius: 100px;
  
 
  opacity: 0.2;
}
.header-image{
  
  z-index: 1;

}
.imgwrap{
 padding: 200px 200px;
 height: 60vh;
  width: 100vh;
 position:relative;
 
}